{
    "presets": ["env", "stage-0", "react"],
    "plugins": [
        "loadable-components/babel",
        "babel-plugin-dynamic-import-node",
        "transform-decorators-legacy",
        "babel-plugin-syntax-dynamic-import",
        "babel-plugin-transform-runtime"
    ]
}
