.page {
	width: 100%;
	max-width: calc(100% - 400px);
	padding-left: 40px;
	padding-right: 40px;
}

.checkbox-switch {
	display: none;

	&:not(:checked) + * {
		display: none;
	}
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	padding: 0 14px;
	border: none;
	background-color: #ffc875;
	box-shadow: inset 0 -5px 0 #ffb647;
	font-weight: 700;
	line-height: 1.4;
	font-size: 13px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #4b4746;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
	text-decoration: none;

	&:focus {
		outline: none;
	}

	&:hover {
		box-shadow: inset 0 -5px 0 transparent;
	}
}
